.dark {
    --bg-dark: #0c121a;
    background-color: var(--bg-dark);
    color: #fff;
}

.dark .mainnav {
    background-color: var(--bg-dark);
}

.dark .logo h1 {
    color: #fff;
}

.dark .searchbar i{
    color: #eaeaea;
}
.dark .headercard {
    background-color: var(--bg-dark);
    box-shadow: 0 0 5px #999;
}

.dark .hcardinfo h3 {
    color: #a5a5a7;
}

.dark .tcard {
    box-shadow: 0 0 5px #999;
}

.dark .tcardinfo h2 {
    color: #a5a5a7;
}

.dark .tcardinfo p {
    color: #777;
}

.dark .tcardbtn:hover {
    box-shadow: 0 0 20px var(--main-color);
}

.dark .catecard {
    box-shadow: 0 0 5px #999;
}

.dark .catecard:hover {
    box-shadow: 0 0 15px #999;
}

.dark .filtername {
    background-color: var(--bg-dark);
    box-shadow: 0 0 5px #999;
}

.dark .featuredtitles h1{
    color: #fff;
}
.dark .featuredtitles p{
    color: #666;
}
.dark .leftboxtitle h1{
    color: #fff;
}
.dark .leftposts .tcard .tcardinfo h2{
    color: #fff;
}
.dark .aboutbox{
    background-color: var(--bg-dark);
    box-shadow: 0 0 5px #999;
}
.dark .trpostinfo h4{
    color: #bfbfbf;
}
.dark .trpostinfo p{
    color: #777;
}
.dark .subscibeinfo h1{
    color: #111;
}
.dark .subscibeinfo p{
    color: #555;
}

.dark .bar{
    background-color: #ffffffd6;
}

.dark .fauth p{
    color: #999;
}
.dark .fauth h5{
    color: #dfdede;
}

.dark .fauthorname{
    background-color: var(--bg-dark);
}